@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styling */
@layer base {
  :root {
    --zing-yellow: #fdb913;
    --zing-yellow-dark: #e5a510;
    --zing-yellow-light: #fec843;
  }

  body {
    @apply font-sans bg-gray-50 text-gray-900;
  }

  input, textarea, select {
    @apply rounded-xl border-gray-300 focus:ring-zing focus:border-zing;
  }

  button {
    @apply rounded-xl shadow-sm font-semibold transition-all duration-150;
  }
}

@layer components {
  .btn-primary {
    @apply bg-zing text-white hover:bg-zing-dark px-4 py-2;
  }

  .btn-secondary {
    @apply bg-gray-200 hover:bg-gray-300 text-gray-800 px-4 py-2;
  }
}
